<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .top_div {
      /* position: absolute; */
      height: 70px;
      background-color: #d6d6d6;
    }

    .child_div {
      position: absolute;
      top: 0px;
      right: 50px;
    }

    .top_div h2 {
      position: absolute;
      top: 10px;
      left: 40%;
    }

    .names {
      display: inline-block;
      padding-top: 50px;
      padding-left: 320px;
    }

    .div_container{
      display: flex;
      flex-direction: row;
    }


  </style>
  <meta charset="UTF-8">
  <title>Контроль микроклимата</title>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <link rel="stylesheet" href="/static/trafficLights.css" type="text/css">
</head>
<body>
  <div class="top_div">
    <h2>Контроль микроклимата</h2>
    <div class="child_div">
      <form action="/logout" method="POST">
          <input type="submit" value="Выход" class="btn btn-primary" style="width: 95px; height: 40px;">
      </form>
    </div>
  </div>


  <div class="names">
    <h3>Показатели</h3>
    <img src="../static/measurements.png" width="400px" height="400px">
    <form action="/climate" method="POST">
      <input type="submit" value="Перейти" class="btn btn-primary" style="width: 95px; height: 40px;">
    </form>
    
  </div>

  <div class="names">
    <h3>Клиенты</h3>
    <img src="../static/clients.jpg" width="400px" height="400px">
    <form action="/clients" method="POST">
      <input type="submit" value="Перейти" class="btn btn-primary" style="width: 95px; height: 40px;">
  </form>
  </div>

</body>
</html>